//!GLOBAL
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@700&display=swap');
$medTransGray:#3b3b3bbe;
$fontColor: #afafaf;
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    //
}

li {
    list-style-type: none;
}

img {
    width: 100%;
}

//! JS STYLING ETC 
.hide-this {
    display: none;
}

.show-this {
    display: block;
}

div.button-wrapper {
    display: flex;
    flex-wrap: wrap;
    margin: 20px 0;
    button.choice-btn {
        margin-right: 20px;
        font-size: 1rem;
        padding: 15px 30px;
        cursor: pointer;
        border-radius: 10px;
        outline: none;
        border: none;
        color: #fff;
        letter-spacing: 1px;
        -webkit-box-shadow: 0px 0px 23px 3px rgba(0, 0, 0, 1);
        -moz-box-shadow: 0px 0px 23px 3px rgba(0, 0, 0, 1);
        box-shadow: 0px 0px 23px 3px rgba(0, 0, 0, 1);
        margin-bottom: 15px;
    }
    .btn-about {
        background-color: #00ccff;
    }
    .btn-projects {
        background-color: #00bb54;
    }
    .btn-contact {
        background-color: #db3d4a;
    }
}

//! MAIN STYLING 
body {
    font-family: 'Lato', sans-serif;
    color: $fontColor;
    div.bg {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100vh;
        z-index: -2;
        display: flex;
        .col {
            width: 25%;
            height: 100%;
        }
        div.sky-blue {
            background-color: #00ccff;
        }
        div.green {
            background-color: #00bb54;
        }
        div.red {
            background-color: #db3d4a;
        }
        div.yellow {
            background-color: #ffd000;
        }
    }
    div.wrapper {
        display: flex;
        align-items: center;
        height: 100vh;
        padding: 20px 50px;
        div.content-wrapper {
            height: 90vh;
            width: 100%;
            max-width: 1000px;
            border-radius: 5px;
            margin: 0 auto;
            -webkit-box-shadow: 0px 0px 23px 5px rgba(0, 0, 0, 0.55);
            -moz-box-shadow: 0px 0px 23px 5px rgba(0, 0, 0, 0.55);
            box-shadow: 0px 0px 23px 5px rgba(0, 0, 0, 0.55);
            div.header {
                display: flex;
                justify-content: space-between;
                align-items: center;
                border-bottom: 1px solid #333;
                height: 5.4vh;
                padding: 0 15px;
                background-color: #121118;
                border-top-left-radius: 5px;
                border-top-right-radius: 5px;
                ul.header-btns {
                    display: flex;
                    height: 100%;
                    li.btn {
                        width: 15px;
                        height: 15px;
                        border-radius: 100%;
                        &:not(:first-child) {
                            margin-left: 10px;
                        }
                    }
                    li.close {
                        background-color: #ff3434;
                    }
                    li.min {
                        background-color: #f5f54f;
                    }
                    li.enl {
                        background-color: #61d161;
                    }
                }
                div.name {
                    color: #fff;
                    margin: 0 auto;
                }
            }
            div.main-body {
                height: 85.8vh;
                border-bottom-left-radius: 5px;
                border-bottom-right-radius: 5px;
                display: flex;
                div.channel-col {
                    width: 5%;
                    min-width: 50px;
                    height: 100%;
                    border-bottom-left-radius: 5px;
                    padding: 10px 0;
                    background-color: #1a1820;
                    border-right: 1px solid $medTransGray;
                    ul.channels {
                        height: 135px;
                        li.user {
                            border-radius: 5px;
                            img {
                                border-radius: 5px;
                            }
                        }
                        li.channel {
                            margin: 0 auto;
                            width: 30px;
                            min-width: 30px;
                            max-width: 30px;
                            cursor: pointer;
                            &:not(:first-child) {
                                margin-top: 15px;
                            }
                            img:hover {
                                transform: rotate(-360deg);
                                transition: transform .3s linear;
                            }
                        }
                    }
                }
                div.nav-col {
                    width: 22%;
                    height: 100%;
                    padding: 10px 0;
                    background-color: #1a1820;
                    border-right: 1px solid $medTransGray;
                    ul {
                        height: 135px;
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                        justify-content: space-around;
                        li {
                            border: 1px solid red;
                            height: 33.3%;
                            width: 100%;
                            margin-top: 15px;
                        }
                    }
                }
                div.conversation-col {
                    width: 95%;
                    display: flex;
                    flex-direction: column;
                    div.convo-header {
                        height: 8.7vh;
                        background-color: #1a181f;
                        display: flex;
                        align-items: center;
                        justify-content: space-between;
                        padding: 0 20px;
                        border-bottom: 1px solid $medTransGray;
                        div.convo-name {
                            display: flex;
                            align-items: center;
                            div.status {
                                width: 8px;
                                height: 8px;
                                border-radius: 100%;
                                background-color: green;
                                margin-right: 5px;
                            }
                        }
                        div.phone {
                            i {
                                cursor: pointer;
                            }
                        }
                    }
                    div.convo-body {
                        background-color: #1a181f;
                        height: 77.1vh;
                        padding: 20px 25px 20px 20px;
                        position: relative;
                        overflow-y: scroll;
                        div.message-wrapper {
                            display: flex;
                            position: relative;
                            div.user {
                                width: 100px;
                                min-width: 40px;
                                max-width: 40px;
                                border-radius: 5px;
                                img {
                                    border-radius: 5px;
                                }
                            }
                            div.message {
                                color: #dddddd;
                                margin-left: 10px;
                                bottom: 2px;
                                div.name {
                                    font-weight: bolder;
                                    margin-bottom: 4px;
                                }
                                div.message-content {
                                    line-height: 1.4;
                                    padding-right: 30px;
                                }
                            }
                        }
                    }
                    div.message-box-wrapper {
                        border-bottom-right-radius: 5px;
                        width: 100%;
                        height: 11vh;
                        background-color: #1a181f;
                        z-index: 100;
                        div.message-box {
                            border: 1px solid #7c7c7cbe;
                            width: 95%;
                            height: 6vh;
                            margin: 0 auto;
                            border-radius: 5px;
                            padding: 10px 15px;
                            background-color: #292929b6;
                            display: flex;
                            justify-content: space-between;
                            align-items: center;
                            div.social {
                                ul {
                                    display: flex;
                                    li {
                                        &:not(:last-child) {
                                            margin-right: 15px;
                                        }
                                        a {
                                            i {
                                                font-size: 1.2rem;
                                                color: $fontColor;
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}