@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@700&display=swap");
* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

li {
  list-style-type: none;
}

img {
  width: 100%;
}

a {
  text-decoration: none;
  color: #afafaf;
}

.hide-this {
  display: none;
}

.show-this {
  display: block;
}

div.button-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 20px 0;
}

div.button-wrapper button.choice-btn {
  margin-right: 20px;
  font-size: 1rem;
  padding: 15px 30px;
  cursor: pointer;
  border-radius: 10px;
  outline: none;
  border: none;
  color: #fff;
  letter-spacing: 1px;
  -webkit-box-shadow: 0px 0px 23px 3px black;
  box-shadow: 0px 0px 23px 3px black;
  margin-bottom: 15px;
}

div.button-wrapper .btn-about {
  background-color: #00ccff;
}

div.button-wrapper .btn-projects {
  background-color: #00bb54;
}

div.button-wrapper .btn-contact {
  background-color: #db3d4a;
}

body {
  font-family: 'Lato', sans-serif;
  color: #afafaf;
}

body div.bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: -2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

body div.bg .col {
  width: 25%;
  height: 100%;
}

body div.bg div.sky-blue {
  background-color: #00ccff;
}

body div.bg div.green {
  background-color: #00bb54;
}

body div.bg div.red {
  background-color: #db3d4a;
}

body div.bg div.yellow {
  background-color: #ffd000;
}

body div.wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100vh;
  padding: 20px 50px;
}

body div.wrapper div.content-wrapper {
  height: 90vh;
  width: 100%;
  max-width: 1000px;
  border-radius: 5px;
  margin: 0 auto;
  -webkit-box-shadow: 0px 0px 23px 5px rgba(0, 0, 0, 0.55);
  box-shadow: 0px 0px 23px 5px rgba(0, 0, 0, 0.55);
}

body div.wrapper div.content-wrapper div.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-bottom: 1px solid #333;
  height: 5.4vh;
  padding: 0 15px;
  background-color: #121118;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

body div.wrapper div.content-wrapper div.header ul.header-btns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
}

body div.wrapper div.content-wrapper div.header ul.header-btns li.btn {
  width: 15px;
  height: 15px;
  border-radius: 100%;
}

body div.wrapper div.content-wrapper div.header ul.header-btns li.btn:not(:first-child) {
  margin-left: 10px;
}

body div.wrapper div.content-wrapper div.header ul.header-btns li.close {
  background-color: #ff3434;
}

body div.wrapper div.content-wrapper div.header ul.header-btns li.min {
  background-color: #f5f54f;
}

body div.wrapper div.content-wrapper div.header ul.header-btns li.enl {
  background-color: #61d161;
}

body div.wrapper div.content-wrapper div.header div.name {
  color: #fff;
  margin: 0 auto;
}

body div.wrapper div.content-wrapper div.main-body {
  height: 85.8vh;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

body div.wrapper div.content-wrapper div.main-body div.channel-col {
  width: 5%;
  min-width: 50px;
  height: 100%;
  border-bottom-left-radius: 5px;
  padding: 10px 0;
  background-color: #1a1820;
  border-right: 1px solid #3b3b3bbe;
}

body div.wrapper div.content-wrapper div.main-body div.channel-col ul.channels {
  height: 135px;
}

body div.wrapper div.content-wrapper div.main-body div.channel-col ul.channels li.user {
  border-radius: 5px;
}

body div.wrapper div.content-wrapper div.main-body div.channel-col ul.channels li.user img {
  border-radius: 5px;
}

body div.wrapper div.content-wrapper div.main-body div.channel-col ul.channels li.channel {
  margin: 0 auto;
  width: 30px;
  min-width: 30px;
  max-width: 30px;
  cursor: pointer;
}

body div.wrapper div.content-wrapper div.main-body div.channel-col ul.channels li.channel:not(:first-child) {
  margin-top: 15px;
}

body div.wrapper div.content-wrapper div.main-body div.channel-col ul.channels li.channel img:hover {
  -webkit-transform: rotate(-360deg);
          transform: rotate(-360deg);
  -webkit-transition: -webkit-transform .3s linear;
  transition: -webkit-transform .3s linear;
  transition: transform .3s linear;
  transition: transform .3s linear, -webkit-transform .3s linear;
}

body div.wrapper div.content-wrapper div.main-body div.nav-col {
  width: 22%;
  height: 100%;
  padding: 10px 0;
  background-color: #1a1820;
  border-right: 1px solid #3b3b3bbe;
}

body div.wrapper div.content-wrapper div.main-body div.nav-col ul {
  height: 135px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

body div.wrapper div.content-wrapper div.main-body div.nav-col ul li {
  border: 1px solid red;
  height: 33.3%;
  width: 100%;
  margin-top: 15px;
}

body div.wrapper div.content-wrapper div.main-body div.conversation-col {
  width: 95%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

body div.wrapper div.content-wrapper div.main-body div.conversation-col div.convo-header {
  height: 8.7vh;
  background-color: #1a181f;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0 20px;
  border-bottom: 1px solid #3b3b3bbe;
}

body div.wrapper div.content-wrapper div.main-body div.conversation-col div.convo-header div.convo-name {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body div.wrapper div.content-wrapper div.main-body div.conversation-col div.convo-header div.convo-name div.status {
  width: 8px;
  height: 8px;
  border-radius: 100%;
  background-color: green;
  margin-right: 5px;
}

body div.wrapper div.content-wrapper div.main-body div.conversation-col div.convo-header div.phone i {
  cursor: pointer;
}

body div.wrapper div.content-wrapper div.main-body div.conversation-col div.convo-body {
  background-color: #1a181f;
  height: 77.1vh;
  padding: 20px 25px 20px 20px;
  position: relative;
  overflow-y: scroll;
}

body div.wrapper div.content-wrapper div.main-body div.conversation-col div.convo-body div.message-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}

body div.wrapper div.content-wrapper div.main-body div.conversation-col div.convo-body div.message-wrapper div.user {
  width: 100px;
  min-width: 40px;
  max-width: 40px;
  border-radius: 5px;
}

body div.wrapper div.content-wrapper div.main-body div.conversation-col div.convo-body div.message-wrapper div.user img {
  border-radius: 5px;
}

body div.wrapper div.content-wrapper div.main-body div.conversation-col div.convo-body div.message-wrapper div.message {
  color: #dddddd;
  margin-left: 10px;
  bottom: 2px;
}

body div.wrapper div.content-wrapper div.main-body div.conversation-col div.convo-body div.message-wrapper div.message div.name {
  font-weight: bolder;
  margin-bottom: 4px;
}

body div.wrapper div.content-wrapper div.main-body div.conversation-col div.convo-body div.message-wrapper div.message div.message-content {
  line-height: 1.4;
  padding-right: 30px;
}

body div.wrapper div.content-wrapper div.main-body div.conversation-col div.convo-body div.message-wrapper div.message .contact-cont {
  border: 1px solid #3b3b3bbe;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 250px;
}

body div.wrapper div.content-wrapper div.main-body div.conversation-col div.convo-body div.message-wrapper div.message .contact-cont .icon-wrap {
  border-right: 1px solid #3b3b3bbe;
  padding: 15px 20px;
  font-size: rem;
}

body div.wrapper div.content-wrapper div.main-body div.conversation-col div.convo-body div.message-wrapper div.message .contact-cont .method-wrap {
  text-align: center;
  width: 100%;
  padding: 0 20px;
}

body div.wrapper div.content-wrapper div.main-body div.conversation-col div.convo-body div.message-wrapper div.message .contact-cont:not(:first-child) {
  margin: 15px 0;
}

body div.wrapper div.content-wrapper div.main-body div.conversation-col div.message-box-wrapper {
  border-bottom-right-radius: 5px;
  width: 100%;
  height: 11vh;
  background-color: #1a181f;
  z-index: 100;
}

body div.wrapper div.content-wrapper div.main-body div.conversation-col div.message-box-wrapper div.message-box {
  border: 1px solid #7c7c7cbe;
  width: 95%;
  height: 6vh;
  margin: 0 auto;
  border-radius: 5px;
  padding: 10px 15px;
  background-color: #292929b6;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body div.wrapper div.content-wrapper div.main-body div.conversation-col div.message-box-wrapper div.message-box div.social ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

body div.wrapper div.content-wrapper div.main-body div.conversation-col div.message-box-wrapper div.message-box div.social ul li:not(:last-child) {
  margin-right: 15px;
}

body div.wrapper div.content-wrapper div.main-body div.conversation-col div.message-box-wrapper div.message-box div.social ul li a i {
  font-size: 1.2rem;
  color: #afafaf;
}

@media only screen and (max-width: 700px) {
  body div.bg {
    display: none;
  }
  body div.wrapper {
    height: 100vh;
    padding: 0;
  }
  body div.wrapper div.content-wrapper {
    height: 100%;
    width: 100%;
    border-radius: none;
    margin: 0 auto;
    -webkit-box-shadow: none;
            box-shadow: none;
  }
  body div.wrapper div.content-wrapper div.main-body {
    height: 100vh;
  }
}
/*# sourceMappingURL=index.css.map */